@font-face {
    font-family: 'Carrot-Farm';
    src: url(./fonts/CarrotFarm.otf);
}

@font-face {
    font-family: 'Pwficelles';
    src: url(./fonts/Pwficelles.ttf);
}


#content {
    display: grid;
    grid-template-rows: 100px minmax(900px, 1fr) 60px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: start;
    background-image: url('./images/grassy-minimal.png');
    background-repeat: repeat;
    background-size: 300px 300px;
}


#header, #main-content, #footer {
    background-color: #d7e3c9;
    border-radius: 10px;

    border: 3px solid #cb923c;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

#header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#header li {
    display: inline;
    font-family: 'Pwficelles';
    font-size: 2.1em;
    color: #cb923c;
}

#main-content-container {
    display: grid;
    justify-content: center;
}

#main-content {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: 'Pwficelles';
    color: #cb923c;
    gap: 30px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);

}

#main-content h1 {
    font-family: 'Carrot-Farm';
    font-size: 4rem;
    color: #cb923c;
    
    border: 3px dashed #cb923c;
    border-radius: 10px;
    padding: 30px;
    
}

#card1,
#card2,
#card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 3px dashed #cb923c;
    border-radius: 10px;
    padding: 30px;
}

#card1 h3, 
#card2 h3, 
#card3 h3 {
    font-size: 2rem;
}

#card1 p,
#card2 p,
#card3 p {
    text-align: center;
    white-space: pre-line;
}


#footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cb923c;
}